@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

/*:root {
  --background: #FCFCFC;
  --foreground: #111214;
}

[data-theme="dark"] {
  --background: #0A0A0A;
  --foreground: #FCFCFC;
  
}*/
body {
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><text y='32' font-size='32'>👀</text></svg>") 16 16, auto;
}


.big-image{
  max-width: none;
}

.bg-color{
  background-color: #F8FAFC;
}

.max-1168{
  max-width: 1168px;
}

.max-920{
  max-width: 920px;
}

p {
  font-size: 18px;
  line-height: 180%;
}

body {
  background-color: var(--background);
}

h1{
  line-height: 180%;
}

h2{
  font-size: 40px;
  line-height: 120%;
}

.highlight-point{
  padding: 16px 40px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
}

hr{
  width: 40px;
  border-style: dotted none none;
  border-width: 5px;
  border-color: #DCDBDF;
}

